<md-card class="md-whiteframe-2dp">
  <md-card-title-group>
    <img md-card-md-image src="{{ drink.photo }}">
    <md-card-title>
      <a href="#/drinks/{{ drink.id }}">
        <span>{{ drink.name }}</span>
      </a>
    </md-card-title>
    <md-card-subtitle>{{ drink.type }}</md-card-subtitle>
  </md-card-title-group>
  <md-card-content>
    <div class="contact-info">
      Ingrédients&nbsp;:&nbsp;
      <a *ngFor="let ing of drink.ingredients; let isLast = last;" href="#">{{ ing }}{{isLast ? '' : ', '}}</a>
    </div>
    <div class="contact-info">
      Pays&nbsp;:&nbsp;<a href="#">{{ drink.country }}</a>
    </div>
    <div class="buttons-info">
      <a md-button title="Commander" [routerLink]="['/edit', drink.id]">
        <md-icon>add_shopping_cart</md-icon>
      </a>
    </div>
  </md-card-content>
</md-card>
